.photos{
    padding: 40px 0;
}
.main__title{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: #b6b7b8;
}
.grid-wrapper > a {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 250px;
	grid-auto-flow: dense;
}
/* чтобы фото было маленькое шировое, нужно убрать класс у фото в файле index.html */
/* добавить класс wide для широкого фото на 2 колонки */
.grid-wrapper .wide {
	grid-column: span 2;
}
/* добавить класс tall для вертикального фото */
.grid-wrapper .tall {
	grid-row: span 2;
}
/* добавить класс big для большого фото на 2 колонки и 2 ряда*/
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}



@media(max-width: 1024px) {
    .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 600px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 480px) {
    .grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}