/* СТРАНИЦА SUPPORT */
.support-1,
.support-2,
.support-3{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.support-1__inner,
.support-2__inner,
.support-3__inner{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #32383e;
}
.support-1__inner-head,
.support-2__inner-head,
.support-3__inner-head{
    background-color: #515960;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.support-1__inner-title,
.support-2__inner-title,
.support-3__inner-title{
    font-size: 28px;
    color: #aaaaaa;
}
.support-1__inner-box,
.support-2__inner-box,
.support-3__inner-box{
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.support-1__images,
.support-2__images,
.support-3__images{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}
.support-1__image{
    width: 100%;
}

.support-1__inner-text,
.support-2__inner-text,
.support-3__inner-text{
    color: #aaaaaa;
    margin-bottom: 16px;
    line-height: 1.4;
}
.support-3__cards{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.support-3__cards-img{
    width: 150px;
}
.support-3__cards-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #aaaaaa;
}
.support-3__cards-text span{
    color: #ffffff;
}
.support-3__crypto{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    color: #aaaaaa;
}
.support-3__crypto-img{
    width: 100px;
}
.crypto-number span{
    color: #ffffff;
    text-decoration: underline;
}


@media(max-width: 768px) {
    .support-3__cards{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .support-3__crypto{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .crypto-number{
        font-size: 14px;
    }
}

@media(max-width: 480px) {
    .support-1__inner-title,
    .support-2__inner-title,
    .support-3__inner-title{
        font-size: 24px;
    }
    .support-3__cards{
        margin: 0 auto 20px;
        width: 220px;
    }
    .crypto-number{
        font-size: 12px;
    }
}